<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BluetoothPeripheral_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EBABF9A1DFA519400C90367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EBABFB31DFA519400C90367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EBABFBE1DFA519400C90367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
